@font-face {
  font-family: 'Flavors';
  src: url('./../font/Flavors-Regular.woff2') format('woff2'),
      url('./../font/Flavors-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}